{% extends 'base.html' %}
{% block head %}
<title>Pokemon Game</title>
{% endblock %}
{% block body %}
<main>
   <h1>POKEMON BATTLE</h1>
   <div class="pokemon">
      <p>YOUR OPPONENT IS <b>{{ yourPokemon.name }}</b></p>
      {{ yourPokemonHealthDisplay }}
      <p>YOUR POKEMON IS <b>{{ opponentsPokemon.name }}</b></p>
      {{ opponentsPokemonHealthDisplay }}
      <form class="form-inline" method="POST" action="{{ url_for('attack2') }}">
         <select name="comp_select" class="selectpicker form-control">
            <option value="{{ opponentsPokemon.moves.move1 }}">{{ opponentsPokemon.moves.move1 }}</option>
            <option value="{{ opponentsPokemon.moves.move2 }}">{{ opponentsPokemon.moves.move2 }}</option>
            <option value="{{ opponentsPokemon.moves.move3 }}">{{ opponentsPokemon.moves.move3 }}</option>
            <option value="{{ opponentsPokemon.moves.move4 }}">{{ opponentsPokemon.moves.move4 }}</option>
         </select>
         <button type="submit" class="btn btn-default">ATTACK</button>
      </form>
      <p> <button class="btn btn-default"><a href="{{ url_for('bag') }}">BAG</a></button>
      </p>
   </div>
   <button class="btn btn-default"><a href="{{ url_for('index') }}">SURRENDER</a></button>
</main>
{% endblock %}
